<h1>Need help???</h1>
<%= form_tag '#', :id => "chat_form", class: "navbar-form navbar-left search-form" do %>
  <%= text_field_tag(
      :question,
      params[:question],
      placeholder: "Whats on your mind?",
      class: "form-control"
  ) %>

<% end %>
<br>
