<h1>All users</h1>
<!-- heading -->
<table class="table table-striped table-hover">
  <%= render :partial=>"header"%>
  <% @users.each do |user| %>
    <%= render :partial=>"show", :locals=>{user: user} %>
  <% end %>
</table>
