<%=  render :partial => 'layouts/navbarInner' %>
<br>

<% if @user.errors.any? %>
  <ol>
  <% @user.errors.full_messages.each do |msg| %>
    <li class="bg-danger"><%= msg %></li>
  <% end %>
  </ol>
<% end %>

<%= render :partial => "form" %>
