<h1>Cart</h1>



<ul>
  <%= @order.line_items.each do |item| %>
    <li><%= item.product.name %></li>
  <% end %>
</ul>



<%= link_to 'Edit', edit_order_path(@order) %> |
<%= link_to 'Back', orders_path %>
