<div class="banners">
  <% if params[:gender] == "women" %>
    <img src="/assets/22.jpg" alt="model2" class="banner">
  <% else %>
    <img src="/assets/1.jpg" alt="model2" class="banner">
  <% end %>
</div>
