

<div class="nav-center">
<nav class="box filters path" role="complementary">
  <% @categories.each do |category| %>
  <%= link_to category.name.upcase, products_category_path(:category => category.name), :class=>"btn btn-primary" %>
  <% end %>
</nav>
</div>
