

<%=  render :partial => 'pages/banner' %>

<% @categories.each do |category| %>
<%= link_to category.name, women_products_category_path(:category => category.name), :class=>"btn btn-primary" %>
<% end %>

<h3>Women Products List</h3>
<%=  render :partial => 'pages/productsList' %>
