<h1>Men/Women</h1>
<h1>Homepage</h1>

<%= link_to "Men", shop_path(:gender => 'men'), :class=>"btn btn-default btn-sm"%>
<%= link_to "Women", shop_path(:gender => 'women'), :class=>"btn btn-deafult btn-sm"%>
