

<%=  render :partial => 'pages/banner' %>

<p>Navbar</p>
<% @categories.each do |category| %>
<%= link_to category.name, men_products_category_path(:category => category.name), :class=>"btn btn-primary" %>
<% end %>

<h3>Men Products List</h3>
<%=  render :partial => 'pages/productsList' %>
