// Place all the styles related to the chatbot controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.chat-window{
  position: fixed;
  bottom: 45px;
  right: 10px;
  width: 300px;
  height: 300px;
  background-color: black;
  // background-color: rgba(255,255,255,0.5);
  color: white;
  border-radius: 5px;
  overflow-y: scroll;
  padding: 1em;
  font-size: 12px;
  border: 2px solid black;
}
.chat-input{
  position: fixed;
  bottom: 10px;
  right: 10px;
  width: 300px;
}
.showChat{
  position: fixed;
  bottom: 10px;
  right: 10px;
  display: none;
}
.question{
  margin: 20px auto;
  background-color: white;
  color: black;
}
.response{
}
.chat-header{
  // background-color: rgba(0,0,0,0.8);
  color: white;
  margin: -12px;
  padding: 10px;
  // position: fixed;
}
.hideChat{
  font-size: 14px;
  position: fixed;
  right: 30px;
}
