// Place all the styles related to the pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.productListDiv{
  display: inline-block;
  width: 300px;
  font-size: 10px;
  border: 1px solid #ccc;
}

.productListThumb{
  width:300px;
}

.navbar-default{
  border-color: black;
}


.image-container .overlay{
  position: relative;
  background:rgba(0,0,0,.75);
  /*text-align:center;*/
  /*opacity:0;*/
  -webkit-transition: opacity .25s ease;
}

.image-container .image-container:hover .overlay {
               opacity:1;}

.image-container .overlay-title {
  font-family:Helvetica;
  font-weight:900;
  color:rgba(215,2,64,.7);
  font-size:36px;
  width: 100%;
  text-align: center;
  line-height: 375px;
}

div.col-xs-12.col-md-4.image-container{
  padding-top: 22px;
}
div.col-xs-12.col-md-4.image-container a{
  padding-right: 5px;
  z-index: 999999;
}

img.img-responsive{
      width: 311px;

}

div.overlay{

  color: black;
}
.image-container .overlay{
  background: rgba(0, 0, 0, 0.03);
  padding: 20px 1px 0 26px;
}
.la {
 justify-content: center;
}

input.btn.btn-primary{
  justify-content: center;
  margin: 11% 50% 0 28%;
  width: 153px;
}
