// Place all the styles related to the pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.productListDiv{
  display: inline-block;
  width: 300px;
  font-size: 10px;
  border: 1px solid #ccc;
}

.productListThumb{
  width:300px;
}

.navbar-default{
  border-color: black;
}
