
<br>
<table class="table table-striped table-hover">
  <tr>
    <th>Name</th>
    <th>Gender</th>
    <th></th>
    <th></th>
  </tr>
  <% @categories.each do |category| %>
    <tr>
      <td><%= category.name %></td>
      <td><%= category.gender %></td>
      <td><%= link_to "Edit", edit_category_path(:id => category.id)%></td>
      <td><%= link_to "Delete", category_path(:id => category.id), :method=>'delete', data: { confirm: 'Are you sure?' }%></td>
    </tr>
  <% end %>
</table>
