
      <h3>Categories List</h3>
      <table class="table">
        <% @categories.each do |category| %>
          <tr>
            <td><%= category.name %></td>
            <td><%= link_to "Edit", edit_category_path(:id => category.id), :class=>"btn btn-primary btn-sm"%></td>
            <td><%= link_to "Delete", category_path(:id => category.id), :method=>'delete', :class=>"btn btn-primary btn-sm"%></td>
          </tr>
        <% end %>
      </table>
