



<%=  render :partial => 'layouts/navbarInner' %>

<div class="row">
  <div class="col-md-1"></div>
  <div class="col-md-5">
    <div class="row">
      <div class="col-md-11">
        <h1>All Categories</h1>
      <%=  render :partial => 'categories/list' %>
      </div>
      <div class="col-md-1"></div>
    </div>
  </div>
  <div class="col-md-5">

  </div>
  <div class="col-md-1"></div>
</div>
