<h1>All Categories</h1>
<ul>
<% @categories.each do |c| %>
  <div class="col-md-4">
    <li> <%= c.name %> </li>
    <%= link_to "Edit", edit_product_category_path(c.id)%>
    <%= link_to "Delete", product_category_path(c.id),
                                  :method=>"delete", :data=>{:confirm=>"Are you sure?"} %>

  </div>
<% end %>
</ul>
