<h1>Edit product</h1>
<% if @product.errors.any? %>
  <ol>
  <% @product.errors.full_messages.each do |msg| %>
    <li class="bg-danger"><%= msg %></li>
  <% end %>
  </ol>
<% end %>
<%= render :partial=>"form" %>
