
<%=  render :partial => 'layouts/navbarInner' %>

<div class="row">

  <div class="col-md-1"></div>

    <div class="col-md-5">
      <h1>All Products</h1>
      <%=  render :partial => 'products/list' %>
    </div>
  <div class="col-md-5">

  </div>
  <div class="col-md-1"></div>
</div>
