<%=  render :partial => 'layouts/navbarInner' %>
<h1>LineItems#new</h1>
<p>Find me in app/views/line_items/new.html.erb</p>

<h1>New Line Item</h1>

<%= render 'form' %>

<%= link_to 'Back', line_items_path %>
