
<%=  render :partial => 'layouts/navbarInner' %>
<%=  render :partial => 'pages/womenmen' %>

<h2>Thanks, your payment was successful!</h2>


<%= link_to "Click here to continue shopping", root_path %>
